<template>
    <li class="nav-item dropdown hidden-caret">
        <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope"></i>
        </a>
        <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
            <li>
                <div class="dropdown-title d-flex justify-content-between align-items-center">
                    Mensajes
                    <a href="#" class="small">Marcar Todos Leido</a>
                </div>
            </li>
            <li>
                <div class="message-notif-scroll scrollbar-outer">
                    <div class="notif-center">
                        <a href="#">
                            <div class="notif-img">
                                <img src="/assets/img/jm_denis.jpg" alt="Img Profile">
                            </div>
                            <div class="notif-content">
                                <span class="subject">Jimmy Denis</span>
                                <span class="block">
														How are you ?
													</span>
                                <span class="time">5 minutes ago</span>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
            </li>
        </ul>
    </li>

</template>

<script>
    export default {
        name: "MensajeComponent"
    }
</script>

<style scoped>

</style>