<template>
    <li class="nav-item dropdown hidden-caret">
        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span class="notification">4</span>
        </a>
        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
            <li>
                <div class="dropdown-title">Tu tienes 4 notificaciones</div>
            </li>
            <li>
                <div class="notif-center">
                    <a href="#">
                        <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                        <div class="notif-content">
												<span class="block">
													New user registered
												</span>
                            <span class="time">5 minutes ago</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                        <div class="notif-content">
												<span class="block">
													Rahmad commented on Admin
												</span>
                            <span class="time">12 minutes ago</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="notif-img">
                            <img src="/assets/img/profile2.jpg" alt="Img Profile">
                        </div>
                        <div class="notif-content">
												<span class="block">
													Reza send messages to you
												</span>
                            <span class="time">12 minutes ago</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                        <div class="notif-content">
												<span class="block">
													Farrah liked Admin
												</span>
                            <span class="time">17 minutes ago</span>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
            </li>
        </ul>
    </li>

</template>

<script>
    export default {
        name: "NotificationComponent"
    }
</script>

<style scoped>

</style>