<template>
    <div class="content">
        <div class="page-inner">
            <h1 class="animated fadeIn">404</h1>
            <div class="desc animated fadeIn"><span>OOPS!</span>
                <br>
                Parece que te pierdes
            </div>
            <a href="/" class="btn btn-primary btn-back-home mt-4 animated fadeInUp">
			<span class="btn-label mr-2">
				<i class="flaticon-home"></i>
			</span>
                Regresar al Inicio
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "404"
    }
</script>

<style scoped>

</style>