<template>
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Empleados</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Empleados</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Gestion de empleados</h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                    <table id="empleados" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>{"Q}</th>
                                            <th>Cedula</th>
                                            <th>Rol</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                        </thead>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import datables from './../lib/datatables.min';
    import Notify from './../lib/bootstrap-notify.min';

    export default {
        name: "Empleados",
        data() {
            return {
                tabla:null
            }
        },
        mounted() {
            this.cargarTabla();
        },
        methods: {

            cargarTabla() {
                $(function () {
                    this.tabla=$('#empleados').DataTable();
                });
                this.notificacion();
            },

            notificacion(){
                //Notify
                $.notify({
                    icon: 'flaticon-alarm-1',
                    title: 'Atlantis',
                    message: 'Premium Bootstrap 4 Admin Dashboard',
                },{
                    type: 'secondary',
                    placement: {
                        from: "bottom",
                        align: "right"
                    },
                    time: 10000,
                });
            }
        }
    }
</script>

<style scoped>

</style>