<template>
    <div class="sidebar sidebar-style-2">

        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                        <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{$auth.getUser().name}}
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <router-link :to="{name: 'perfil'}">
                                        <span class="link-collapse">Mi perfil</span>
                                    </router-link>
                                </li>
                                <li>
                                    <a href="#edit">
                                        <span class="link-collapse">Editar Perfil</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <span class="link-collapse">Configuracion</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-primary">
                        <router-link tag="li" :to="{name: 'dashboard'}" exact class="nav-item">
                            <a>
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </router-link>
                    <router-link tag="li" :to="{name: 'producido'}" exact class="nav-item">
                        <a>
                            <i class="far fa-calendar-alt"></i>
                            <p>Producido</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{name: 'pacientes'}" exact class="nav-item">
                        <a>
                            <i class="fas fa-users"></i>
                            <p>Pacientes</p>
                        </a>
                    </router-link>
                    <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                        <h4 class="text-section">Administrador</h4>
                    </li>
                    <router-link tag="li" :to="{name: 'empleados'}" exact class="nav-item">
                        <a>
                            <i class="fas fa-user-friends"></i>
                            <p>Empleados</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{name: 'historico'}" exact class="nav-item">
                        <a>
                            <i class="fas fa-layer-group"></i>
                            <p>Historico</p>
                        </a>
                    </router-link>
                    <router-link tag="li" :to="{name: 'servicios'}" exact class="nav-item">
                        <a>
                            <i class="fas fa-clipboard-list"></i>
                            <p>Servicios</p>
                        </a>
                    </router-link>

                    <li class="nav-item submenu">
                        <a data-toggle="collapse" href="#base">
                            <i class="fas fa-dollar-sign"></i>
                            <p>Financiero</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="base">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="../components/avatars.html">
                                        <span class="sub-item">Avatars</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/buttons.html">
                                        <span class="sub-item">Buttons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/gridsystem.html">
                                        <span class="sub-item">Grid System</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="../components/panels.html">
                                        <span class="sub-item">Panels</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/notifications.html">
                                        <span class="sub-item">Notifications</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/sweetalert.html">
                                        <span class="sub-item">Sweet Alert</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/lists.html">
                                        <span class="sub-item">Lists</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/owl-carousel.html">
                                        <span class="sub-item">Owl Carousel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/magnific-popup.html">
                                        <span class="sub-item">Magnific Popup</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/font-awesome-icons.html">
                                        <span class="sub-item">Font Awesome Icons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/simple-line-icons.html">
                                        <span class="sub-item">Simple Line Icons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/flaticons.html">
                                        <span class="sub-item">Flaticons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="../components/typography.html">
                                        <span class="sub-item">Typography</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "SliderBarComponent",
        mounted() {
        }
    }
</script>

<style scoped>

</style>